@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to top, #C9EBF2, #7EBFB3);
    background-attachment: fixed;
}

main {
    background-color: #96B3D9;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #0b2624a7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0B2624;
    text-align: center;
    text-shadow: 5px 5px 5px #0b262498;
}

h2 {
    color: #C9EBF2;
}

p {
    text-align: justify;
}