* {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 50px;
}

li.nav-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

li.nav-item > a {
    text-decoration: none;
    color: rgb(0, 0, 0);

    margin-right: 25px;
}

#navbar img {
    width: 50px;
}